.back-arrow {
  position: fixed;
  top: 45px;
  left: 45px;
  z-index: 1000;
  padding: 18px 10px;
  margin: -13px 0 0 -10px;
  cursor: pointer;
  background: none;
  border: none;
  overflow: visible;
}

.back-arrow svg {
  overflow: visible;
  transition: transform 0.125s;
  transform-origin: left center;
  mix-blend-mode: difference;
}

.back-arrow svg path:first-child {
  fill: #fff;
}

.back-arrow svg path:last-child {
  stroke: #fff;
  stroke-width: 2;
}

.back-arrow:hover svg {
  transform: translateX(6px) scaleX(1.1);
}

.back-arrow:active svg {
  transform: translateX(-12px) scaleX(1.2);
}

@media (max-width: 1280px) {
  .back-arrow {
    top: 35px;
    left: 35px;
  }
}

@media (max-width: 768px) {
  .back-arrow {
    top: 25px;
    left: 25px;
  }
}
